<div class="container text-center">
  <%= form_with(model: tweet) do |form| %>
    <% if tweet.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

        <ul>
          <% tweet.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :userName,"Usuario", class: "form-label" %>
          <%= form.text_field :userName, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :description, "Pajarraco", class: "form-label" %>
          <%= form.text_field :description, class: "form-control" %>
        </div>
      </div>
    </div>
<br>
    <div class="form-group">
      <%= form.submit "Nuevo / Editar Pajarraco", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
