<%= form_tag tweets_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Buscar" %>
<% end %>
<br><br><br>

<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
</div>

<%= pagy_nav(@pagy)  if  @pagy.pages > 1 %>

<%= link_to "New tweet", new_tweet_path %>

